In [1]:
# importing the necessary libraries 
import pandas as pd
import numpy as np

In [2]:
#importing the dataset 
train_data = pd.read_csv("C:\\Users\\jain1\\Desktop\\Datasets\\ml_lab_1\\train_data.csv")
test_data = pd.read_csv("C:\\Users\\jain1\\Desktop\\Datasets\\ml_lab_1\\test_data.csv")

## Preprocessing the dataset

In [3]:
# shape of datasets 
print("shape of training data is ", train_data.shape)
print("shape of testing data is ", test_data.shape)

shape of training data is  (721, 9)
shape of testing data is  (309, 8)

In [4]:
# printing first fove rows of training data
train_data.head()

   cement  blast  flyash  water    sp      ca     fa  age  strength
0   382.0    0.0     0.0  186.0   0.0  1047.0  739.0    7     24.00
1   310.0  142.8     0.0  167.9  10.0   914.3  804.0   28     45.30
2   310.0    0.0     0.0  192.0   0.0  1012.0  830.0   90     35.76
3   475.0  118.8     0.0  181.1   8.9   852.1  781.5   91     74.19
4   385.0    0.0     0.0  186.0   0.0   966.0  763.0    3     14.70

In [5]:
# describing the training data
train_data.describe()


# here we can see that for flyash 50% of the entries are 0 and for sp 25% entries are 0
print("no. of 0 entries in flyash : ", (train_data['flyash'] == 0).sum(), "/", len(train_data['flyash']))
print("no. of 0 entries in sp : ", (train_data['sp'] == 0).sum(), "/", len(train_data['sp']))

no. of 0 entries in flyash :  405 / 721
no. of 0 entries in sp :  259 / 721

In [6]:
# dropping the flyash and sp column 
train_data.drop(['flyash', 'sp'], inplace = True, axis = 1)
test_data.drop(['flyash', 'sp'], inplace = True, axis = 1)

In [7]:
print("new shape of training data is ",train_data.shape)
print("new shape of testing data is ", test_data.shape)

new shape of training data is  (721, 7)
new shape of testing data is  (309, 6)

In [8]:
#data types of all the remaining columns
train_data.dtypes

cement      float64
blast       float64
water       float64
ca          float64
fa          float64
age           int64
strength    float64
dtype: object

In [9]:
#check whether any column has NULL entry or not 
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 7 columns):
cement      721 non-null float64
blast       721 non-null float64
water       721 non-null float64
ca          721 non-null float64
fa          721 non-null float64
age         721 non-null int64
strength    721 non-null float64
dtypes: float64(6), int64(1)
memory usage: 39.5 KB

In [10]:
#printing the column names 
column_names = train_data.columns 
print("Column Names are : ")
for col in column_names :
    print(col)

Column Names are :
cement
blast
water
ca
fa
age
strength

In [11]:
# preparing dataset for training
X_train = train_data.iloc[:, :-1].values
Y_train = train_data['strength'].values
X_test = test_data.iloc[:, :].values

In [12]:
# checking shapes of training and testing data
X_train.shape , Y_train.shape, X_test.shape

((721, 6), (721,), (309, 6))

## Training the dataset using Random Forests classifier

In [13]:
# applying random forests algorithm

from sklearn.ensemble import RandomForestRegressor 

model = RandomForestRegressor(random_state = 0, n_estimators = 200)
model.fit(X_train, Y_train)

## Predicting the results for testing data

In [14]:
Y_pred = model.predict(X_test)
print(Y_pred.shape)

(309,)

## saving the results to csv file

In [15]:
result = pd.DataFrame(Y_pred, columns = ['Predicted'])

In [16]:
print(result.shape)
result

(309, 1)

     Predicted
0    28.260953
1     7.733200
2    79.121800
3    57.485067
4    11.695350
5    44.630166
6    57.196713
7    25.387400
8    72.894000
9    51.391500
10   18.541400
11   40.216800
12   37.606707
13   14.568300
14   50.296150
15   58.429327
16   37.436550
17   35.335800
18   48.935200
19   37.788900
20   59.870395
21   28.588750
22   29.992833
23   33.975999
24   18.425850
25   27.608950
26   65.141500
27   24.975350
28   58.429327
29   62.381100
..         ...
279  33.516050
280  14.719400
281  48.830800
282  55.120600
283  40.164600
284  27.324550
285  33.441100
286  39.694150
287  41.338800
288  67.553400
289  41.012500
290  24.944900
291  58.429327
292  31.472700
293  46.370650
294  65.032900
295  37.802000
296  39.979695
297  46.697000
298  43.047950
299  36.918950
300  30.878100
301  36.209950
302  26.251200
303  13.202800
304  69.650650
305  34.368300
306  11.478950
307  22.569383
308  42.696650

[309 rows x 1 columns]

In [17]:
# saving the result to a csv file 
result.to_csv('C:\\Users\\jain1\\Documents\\predictions.csv', index = True)